<section id="wr" class="container">
  <div id="bring-me-up">
    <article id="services-page" class="row" >
      <!-- div class="s3 service-hide-space service-brign-right">&nbsp;</div -->
      <div class="s12 "><h1 class="service-h1 service-right-f"><%= t('pages.services.page-title') %></h1></div>

      <div class="s3 about-full-width sr-push">
        <ul id="about-us-nav">
          <li class="us-nav about-hide-element"><%= image_tag("crown-about.png") %></li>

          <%# @services_line_up.each do |service| %>

          <%# end %>

          <% @services.each do |service| %>

          <li class="us-nav about-line-up-menu t-center">
            <a title="<%= service.name %>" href="#sr<%= service.id %>" onClick="">
              <%= service.translations_by_locale[I18n.locale].name %>
            </a>
          </li>

          <% end %>

          <!-- <li class="us-nav about-line-up-menu t-center">
            <a href="#sr11" title="Додаткові послуги">Додаткові</a>
          </li> -->
          <li class="us-nav about-hide-element"><%= image_tag("leavs-about.png") %></li>
        </ul>
      </div>
      <div class="s9 service-roll-up-full service-brign-left ">
        <div class="services-full-descr">
          <%= raw Pages::Services.first.intro %>

        </div>
      </div>
      <%# container :serviceslist %>
      <%= render partial: 'services/show_me_services' %>
    </article>

  </div>
  <div class="push-crown row">
    <div class="s5 br-h">&nbsp;</div>
    <div class="s2" style="text-align: center;"><%= image_tag("crown-end.png") %></div>
    <div class="s5 br-h crown-last-width">&nbsp;</div>
  </div>
</section>