<!--<form action="<%# order_room_path %>" method="post"  >-->
  <!--<%# hidden_field_tag :email_page_portlet_url, @email_page_portlet_url %>-->
  <!--<%# f.cms_error_messages %>-->
  <!--<div class="s12 push-contact-us-form contact-inline-min">-->
    <!--<label for="Вас звати:">Вас звати:</label>-->
    <!--<input type="text" name="name" placeholder="Константин Константинопольскій" id="UserName" class="clear-contact-inputs s user-name contact-inline-min-inputs" />-->
    <!--<label for="Ваш номер телефону:">Ваш номер телефону:</label>-->
    <!--<input type="text" name="phone" placeholder="+38 (098) 511 77 73" id="UserPhone" class="clear-contact-inputs s user-phone contact-inline-min-inputs" />-->
    <!--<label for="Ваш e-mail:">Ваш e-mail:</label>-->
    <!--<input type="text" name="email" placeholder="konstantin.kost@gmail.com" id="UserEmail" class="clear-contact-inputs s user-email contact-inline-min-inputs" />-->

  <!--</div>-->
  <!--<div class="s12 push-contact-us-form contact-inline-min">-->
    <!--<label for="Текст Вашого повідомлення:">Текст Вашого повідомлення:</label>-->
    <!--<textarea name="message" placeholder="Ми піклуємося про те, щоб кожен гість отримав лише якісний та сучасний сервіс, що є для нас найкращою рекомендацією та компліментом." id="UserMsg" class="clear-contact-inputs s contact-text width1200 width-standart" />-->
  <!--</div>-->
  <!--<div class="s12 submit-area"><input type="submit" name="" value="" class="submit-button" id="btn-submit"></div>-->
<!--</form>-->

<style>
  body{
      padding: 0;
      margin: 0;
      background: url("/assets/main-bg-pattern-1.jpg") repeat transparent;
  }
  .form-section{
      height: 470px;
      overflow: hidden;
      margin: 0;
  }

  .form-section.specified-room-order-form-section{
      height: 375px;
  }



  #room-order-form{
      margin: 0;
  }

  .contact-inline-min{
      width: 340px !important;
  }

  .contact-inline-min.message{
      width: 768px !important;
  }

  .contact-inline-min.message textarea{
      height: 280px;
  }

  .specified-room-order-form-section .contact-inline-min.message textarea{
      height: 203px;
  }

  .form-section #msg-header{
      padding-top: 0;
  }


  input, textarea{
      max-width: 100%;
  }

  .submit-area{
      width: 100%;
      padding: 0 25px;
      margin: 0;
  }

  .submit-area input{
      margin: 0;
      padding: 0 !important;
      right: -9px;
      position: relative;
  }

  select{
      background: url("/assets/form-background_03.jpg") repeat transparent !important;

      color: #555555;
      display: inline-block;
      font-size: 13px;
      height: 18px;
      line-height: 18px;
      margin-bottom: 9px;
      padding: 4px;

      height: 46px !important;
      border-radius: 5px !important;
      padding-left: 10px !important;

      max-width: 100%;
      width: 910px;
  }

</style>
<div class="form-section<%= " specified-room-order-form-section" if @is_specified_room == true %>">

<div class="s12" id="msg-header"><h2 class="contact-h1-second">Замовлення номеру</h2></div>
<div class="clearfix"></div>
<%= form_for @order_room_form_object, :url => order_room_path, :method=>'post', html: {id: 'room-order-form', class: "room-order-form#{" specified-room-order-form" if @is_specified_room == true}"} do |f| %>
    <%# hidden_field_tag :email_page_portlet_url, @email_page_portlet_url %>
    <%# f.cms_error_messages %>
    <div class="s12 push-contact-us-form contact-inline-min">
      <% if !@is_specified_room %>
          <label for="Вас звати:">Оберіть номер:</label>
          <select name="room">
            <option value="0">Виберіть номер зі списку</option>
            <% @available_rooms.each do |room| %>
                <option value="<%= room.id %>"><%= room.name %></option>
            <% end %>
          </select>
      <% end %>
      <label for="Вас звати:">Вас звати:</label>
      <%= f.text_field :name, :placeholder => "Константин Константинопольскій", :id => "UserName", :class => "clear-contact-inputs s user-name contact-inline-min-inputs" %>
      <label for="Ваш номер телефону:">Ваш номер телефону:</label>
      <%= f.text_field :phone, :placeholder => "+38 (098) 511 77 73", :id => "UserPhone", :class => "clear-contact-inputs s user-phone contact-inline-min-inputs" %>
      <label for="Ваш e-mail:">Ваш e-mail:</label>
      <%= f.text_field :email, :placeholder => "konstantin.kost@gmail.com", :id => "UserEmail", :class => "clear-contact-inputs s user-email contact-inline-min-inputs" %>

    </div>
    <div class="s12 push-contact-us-form contact-inline-min message">
      <label for="Текст Вашого повідомлення:">Текст Вашого повідомлення:</label>
      <%= f.text_area :message, :placeholder => "Ми піклуємося про те, щоб кожен гість отримав лише якісний та сучасний сервіс, що є для нас найкращою рекомендацією та компліментом.", :id => "UserMsg", :class => "clear-contact-inputs s contact-text width1200 width-standart" %>
    </div>
    <div class="s12 submit-area">
      <!--<input type="submit" name="" value="" class="submit-button" id="btn-submit">-->
      <span class="brand-button brand-button-submit">
        <span class="button-label">Замовити</span>
        <input type="submit" name="submit" value="" class="submit-button" id="btn-submit">

      </span>
    </div>
<% end %>
</div>

<script type="text/javascript" src="/assets/contact-validator.js"></script>