<section id="wr" class="container">
  <div id="bring-me-up">
    <article id="about-us-page" class="row">
      <div class="s3 about-full-width">
        <%= render partial: "partials/about_menu" %>
      </div>
      <div class="s9 about-full-width">
        <div>
          <h1 class="about-h1"><%= t('pages.rooms-list.page-title') %></h1>
          <%= image_tag("rooms_new.jpg", :class => "br about-main-img") %>
        </div>
        <p class="about-header">
        <%# container :roomsheader %>
          <%= raw @rooms_page.intro_text %>
        </p>
        <p class="about-header-sub1"><%# container :roomsheadersub1 %></p>
      </div>

      <div class="s3 about-full-width">&nbsp;</div>

      <%# container :roomsheadersub4 %>

      <%= render partial: 'about/show_me_rooms' %>



    </article>

  </div>
  <div class="push-crown row">
    <div class="s5 br-h">&nbsp;</div>
    <div class="s2" style="text-align: center;"><%= image_tag("crown-end.png") %></div>
    <div class="s5 br-h crown-last-width">&nbsp;</div>
  </div>
</section>