


  <form  accept-charset="UTF-8" action="<%= source_send_message_path(locale: I18n.locale) %>" class="new_email_message contact-form" id="new_email_message" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="be5zeUpB6NKop92TASWpqbckW32ZrMBdLTl38tV12ag=" /></div>
    <input id="email_page_portlet_url" name="email_page_portlet_url" type="hidden" value="http://warszawa-hotel.com.ua/contact-us" />

    <div class="s12 push-contact-us-form contact-inline-min">
      <label for="Вас звати:"><%= t('partials.form.fields.name.label') %></label>
      <input data-error-message="<%= t('partials.form.fields.name.error-message') %>" class="clear-contact-inputs s user-name contact-inline-min-inputs" id="UserName" name="email_message[user_name]" placeholder="<%= t('partials.form.fields.name.placeholder') %>" size="30" type="text" />
      <label for="Ваш номер телефону:"><%= t('partials.form.fields.phone.label') %></label>
      <input data-error-message="<%= t('partials.form.fields.phone.error-message') %>"  class="clear-contact-inputs s user-phone contact-inline-min-inputs" id="UserPhone" name="email_message[user_phone]" placeholder="<%= t('partials.form.fields.phone.placeholder') %>" size="30" type="text" />
      <label for="Ваш e-mail:"><%= t('partials.form.fields.email.label') %></label>
      <input data-error-message="<%= t('partials.form.fields.email.error-message') %>"  class="clear-contact-inputs s user-email contact-inline-min-inputs" id="UserEmail" name="email_message[user_mail]" placeholder="<%= t('partials.form.fields.email.placeholder') %>" size="30" type="text" />

    </div>
    <div class="s12 push-contact-us-form contact-inline-min message">
      <label for="Текст Вашого повідомлення:"><%= t('partials.form.fields.message.label') %></label>
      <textarea data-error-message="<%= t('partials.form.fields.message.error-message') %>" class="clear-contact-inputs s contact-text width1200 width-standart" cols="40" id="UserMsg" name="email_message[user_msg]" placeholder="<%= t('partials.form.fields.message.placeholder') %>" rows="20"></textarea>
    </div>
    <!--<div class="s12 submit-area"><input type="submit" name="" value="" class="submit-button" id="btn-submit"></div>-->
    <div class="s12 submit-area">
      <span class="brand-button brand-button-submit">
        <span class="button-label"><%= t('partials.contact-form-button') %></span>
        <input type="submit" name="submit" value="" class="submit-button" id="btn-submit">
      </span>
    </div>
  </form></div>

